@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Medium.eot');
	src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
		url('../fonts/DINNextLTPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Light.eot');
	src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Light.woff') format('woff'),
		url('../fonts/DINNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro Condensed';
	src: url('../fonts/DINNextLTPro-Condensed.eot');
	src: url('../fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Condensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-UltraLight.eot');
	src: url('../fonts/DINNextLTPro-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-UltraLight.woff') format('woff'),
		url('../fonts/DINNextLTPro-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Bold.eot');
	src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
		url('../fonts/DINNextLTPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Regular.eot');
	src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Medium_1.eot');
	src: url('../fonts/DINNextLTPro-Medium_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Medium_1.woff') format('woff'),
		url('../fonts/DINNextLTPro-Medium_1.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/DIN Next LT Pro Light Condensed';
	src: url('../fonts/DINNextLTPro-LightCondensed.eot');
	src: url('../fonts/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-LightCondensed.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro Bold Condensed';
	src: url('../fonts/DINNextLTPro-BoldCondensed.eot');
	src: url('../fonts/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-BoldCondensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-BoldCondensed.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Regular_1.eot');
	src: url('../fonts/DINNextLTPro-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular_1.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'DIN Next LT Pro';
    background-color: #333;
    color: #fff;
}

.btn {
	height: 45px;
	line-height: 33px;
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 500;
}

.btn-orange {
	background-color: #f2711e;
	color: #fff;
}

.btn-orange:hover {
	text-decoration: none;
	color: #fff;
}

.no-margin {
	margin: 0 !important;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-15 {
	margin-top: 15px;
}

.fs-20 {
	font-size: 20px;
}

.light {
    font-weight: 300;
}

.welcome-logo {
    margin-top: 30px;
}

.welcome-message {
    font-size: 30px;
    line-height: normal;
    margin: 40px 0;
}

.color-orange {
    color: #e35100;
}

.principal-menu {
	margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

.principal-menu li {
	position: relative;
}

.principal-menu li::after {
	content: url("../img/arrow-right.svg");
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-34%);
}

.principal-menu li a {
	display: block;
    border-top: 1px solid #e35100;
    padding: 14px 20px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.principal-menu li:last-child a {
	border-bottom: 1px solid #e35100;
}