@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Medium.eot');
	src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
		url('../fonts/DINNextLTPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Light.eot');
	src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Light.woff') format('woff'),
		url('../fonts/DINNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro Condensed';
	src: url('../fonts/DINNextLTPro-Condensed.eot');
	src: url('../fonts/DINNextLTPro-Condensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Condensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-UltraLight.eot');
	src: url('../fonts/DINNextLTPro-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-UltraLight.woff') format('woff'),
		url('../fonts/DINNextLTPro-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Bold.eot');
	src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
		url('../fonts/DINNextLTPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Regular.eot');
	src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Medium_1.eot');
	src: url('../fonts/DINNextLTPro-Medium_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Medium_1.woff') format('woff'),
		url('../fonts/DINNextLTPro-Medium_1.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/DIN Next LT Pro Light Condensed';
	src: url('../fonts/DINNextLTPro-LightCondensed.eot');
	src: url('../fonts/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-LightCondensed.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro Bold Condensed';
	src: url('../fonts/DINNextLTPro-BoldCondensed.eot');
	src: url('../fonts/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-BoldCondensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-BoldCondensed.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Regular_1.eot');
	src: url('../fonts/DINNextLTPro-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular_1.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'DIN Next LT Pro';
    background-color: #333;
    color: #fff;
}

.white-color {
	color: #fff;
}

.dark-bg {
	background-color: #000;
}

.light-container {
	background-color: #333;
	padding: 10px;
}

.btn {
	height: 45px;
	line-height: 33px;
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 500;
}

.btn-orange {
	background-color: #f2711e;
	color: #fff;
}

.btn-orange:hover {
	text-decoration: none;
	color: #fff;
}

.no-margin {
	margin: 0 !important;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-15 {
	margin-top: 15px;
}

.fs-20 {
	font-size: 20px;
}

.light {
    font-weight: 300;
}

.welcome-logo {
    margin-top: 30px;
}

.welcome-message {
    font-size: 30px;
    line-height: normal;
    margin: 40px 0;
}

.color-orange {
    color: #e35100;
}

.bg-orange {
    background-color: #e35100;
}

.nav-bar {
	padding: 18px 0px;
	position: relative;
	z-index: 10;
}

.nav-title {
	font-size: 25px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.saldo {
	margin: 75px 0;
	text-align: center;
}

.saldo p {
	font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.saldo span {
	font-size: 14px;
}

.saldo .pill {
	border-radius: 44px;
    background-color: rgba(255, 255, 255, 0.37);
    border: solid 1px #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 27px;
    line-height: normal;
    width: 250px;
    margin: 0 auto;
	padding-top: 14px;
	margin-bottom: 18px;
}

.saldo .pill small {
	font-size: 17px;
}

.bottom-msg {
	position: absolute;
    background-color: #232323;
    left: 0;
    bottom: 0;
    width: 95%;
    border-top-right-radius: 10px;
    font-size: 16px;
	padding: 10px 10px 10px 90px;
	line-height: normal;
}

.close-msg {
	position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.entel-msg {
	position: absolute;
    left: 10px;
    text-align: center;
    width: 69px;
    height: 65px;
    background-color: #fff;
    top: 0;
    line-height: 55px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.side-menu {
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
	left: 0;
	opacity: 0;
	display: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.side-menu.faded {
	opacity: 1;
	display: block;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.menu {
	display: none;
	position: fixed;
    overflow: scroll;
    height: 100%;
    width: 90%;
    background-color: #000;
	right: -1000px;
	padding: 10px;
	top: 0;
	z-index: 120;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.menu.faded {
	right: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.close-menu {
	position: absolute;
    padding: 15px;
	right: 0;
	top: 0;
}

.user-menu {
	font-size: 19px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 500;
}

.menu ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
	position: relative;
}

.menu ul li.separator {
	height: 1px;
	border-bottom:1px solid #fff;
	margin-top: 8px;
    margin-bottom: 8px;
}

.menu ul li::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
    text-align: center;
}

.menu ul li#linkComprarBolsas::before {
	content: url("../img/comprar-bolsas.svg");
}

.menu ul li#linkRecargar::before {
	content: url("../img/recargar.svg");
}

.menu ul li#linkVerSaldo::before {
	content: url("../img/saldo.svg");
}

.menu ul li#linkDescargar::before {
	content: url("../img/descargar.svg");
}

.menu ul li#linkMiEntelLite::before {
	content: url("../img/movil.svg");
}

.menu ul li.separator::before {
	content: '';
}

.menu ul li a {
	display: block;
    padding: 14px;
    color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding-left: 40px;
}

.menu-image {
	margin-left: -10px;
    position: absolute;
}

.menu-image img {
	width: 100%;
}

.pill-sm {
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: #666565;
	border-radius: 100px;
	margin-bottom: 10px;
}

.advise {
	background-image: url(../img/bg-ryb.jpg);
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
}

.advise-dialog {
	background-color: #ffffff;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto;
	margin-top: 80px;
	color: #b2b2b2;
	font-weight: 500;
}

.advise-dialog::after {
	content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 1;
    transform: translateX(-50%);
}

.saldo-dot {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}

.saldo-dot-1 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-1:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-1 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-500 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-500:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-500 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-1000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-1000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-1000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-2000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-2000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-2000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-3000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-3000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-3000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-5000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-5000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-5000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-10000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-10000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-10000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-15000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-15000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-15000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.saldo-dot-20000 {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 55px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	/*transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-dot-20000:hover {
	background-color: #0154a0;
	color: white;
	border: none;
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;*/
}

.saldo-msg-20000 {
	background-color: #0154a0;
	color: white;
	padding: 8px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.input-otro{
	/*border-radius: 44px;*/
 	background-color: #ffffff;
    border: solid 1px #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    line-height: normal;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 10px;
}

.slick-slide {
	width: 55px !important;
	margin: 5px 10px;
}

.slick-slide:focus {
	outline: none !important;
}

.discount-bar {
	height: 35px;
}

.discount-ammount {
	height: 35px;
    position: absolute;
    background-color: #f2711e;
    line-height: 35px;
    width: 60px;
    text-align: center;
}

.discount-ammount::after {
	content: '';
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #f2711e;
    position: absolute;
    right: -10px;
    top: 0;
}

.discount-number {
	width: 40px;
    text-align: center;
    background-color: #c9570f;
    border-radius: 50%;
    font-weight: bold;
    font-size: 19px;
}

.plus {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.discount-text {
	position: relative;
	padding-left: 80px;
	line-height: 35px;
	color: #32e1fe;
	font-weight: 500;
}

.discount-text i {
	color: white;
}

.discount-text img {
	position: absolute;
    right: 0;
    top: 5px;
}

.payment-method {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}

.payment-method.payment-active {
	border: 3px solid #f2711e;
}

.recarga-carousel {
	margin-bottom: 20px;
}

.social-images {
	margin: 10px 0;
}

.social-images img {
	margin: 0 6px;
}

/* Modal estilo Vodafone */

.modal-vfn {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 100000;
	transition: 0.5s;
	background-color: #f2f2f2;
	opacity: 0;
	display: none;
	overflow: scroll;
	overflow-x: hidden;
}

.modal-vfn.faded {
	left: 0;
	transition: 0.5s;
	top: 0;
	opacity: 1;
}

.modal-vfn .modal-header {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 768px;
	margin-bottom: 30px;
	border: none;
	padding: 0;
	display: block;
}

.modal-vfn .modal-header-top {
	height: auto;
	text-align: center;
	background-color: transparent
}

.modal-vfn .modal-title {
	color: white;
	font-size: 24px;
	font-weight: normal;
	padding: 65px 20px 0px 20px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.close-modal-right {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 5;
}

.back-arrow {
	position: absolute;
	left: 20px;
	top: 25px;
	z-index: 5;
}

.modal-vfn .modal-container {
	position: relative;
	top: 100%;
	transition: 0.4s ease-in-out;
	color: #333;
	font-size: 16px;
	padding: 20px;
}

.modal-vfn .modal-container h4 {
	color: #7a7a7a;
	font-size: 30px;
}

.modal-vfn.loader .modal-container {
	height: 50%;
}

.modal-vfn.faded .modal-container {
	position: relative;
	top: 0;
	transition: 0.4s ease-in-out;
}

.bolsa-dot {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid white;
	line-height: 45px;
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: -0.2px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.bolsa-dot.active-dot {
	background-color: #f2711e;
	color: white;
	border: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.bolsas-carousel {
	margin-bottom:20px
}

.bolsas-carousel .slick-slide {
	width: 45px !important;
	margin: 5px 10px;
}

#bolsas-datos {
	margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bolsa-app {
	border: 2px solid #b2b2b2;
    border-radius: 7px;
	padding: 15px;
	position: relative;
}

.bolsa-app::before {
	content: '';
    position: absolute;
    top: -10px;
    left: 5%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #b2b2b2;
}

.bolsa-app::after {
	content: '';
    position: absolute;
    top: -10px;
    left: 5%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
    border-top: 3px solid transparent;
}

.promo-app {
	margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
}

.promo-app .discount-text {
	line-height: normal;
}

.promo-app .discount-ammount {
	width: 50px;
}

/*   RADIO BUTONS   */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #6d6d6d;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:disabled + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #6d6d6d;
    border-radius: 100%;
	background: #d0d0d0;
	opacity: 0.5;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: url('../img/green-tick.svg');
    width: 0;
    height: 0;
    background: #57ac04;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.lista-bolsas {
	background-color: #f2f2f2;
	border-radius: 7px;
	padding: 10px 20px;
	margin-top: 20px;
    margin-bottom: 20px;
}

.lista-bolsas ul {
	padding: 0;
    margin: 0;
    list-style: none;
    color: #000;
}

.terms-link {
	font-size: 14px;
    text-decoration: underline;
    color: #fff;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.accordion-bolsa {
	border-bottom: 1px solid #dbdbdb;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.lista-bolsas ul li:last-child .accordion-bolsa {
	border-bottom: none;
	margin-bottom: 0;
}

/*   CHECKBOXES   */
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
  }
  
  /* checkbox aspect */
  /* COLOCAR CHULITO */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 19px; height: 19px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 0px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
	content: url('../img/checkbox-check.svg');
	position: absolute;
	top: 0; left: 0;
	font-size: 1.4em;
	line-height: 0.8;
	color: #09ad7e;
	transition: all .2s;
	font-family: Helvetica, Arial, sans-serif;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
	color: #999;
  }
  [type="checkbox"]:disabled + label {
	color: #aaa;
  }

.app-block {
	border-radius: 5px;
	background-color: #303030;
	padding: 8px;
	text-align: center;
	color: #32e1fe;
}

.terms-title {
	font-size: 18px;
	color: #7a7a7a;
}

.terms-text {
	color: #b7b7b7;
	font-size: 14px;
}

#terms-modal .modal-title {
    color: #7a7a7a;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px 0px 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.modal-vfn#terms-modal .modal-header {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 768px;
    margin-bottom: 0px;
    border: none;
    padding: 0;
    display: block;
}

.b-text {
	color: #00b8dc;
}

.accordion-container {
	padding: 0;
    height: 0;
	overflow: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.accordion-container.collapsed {
	padding: 10px 0;
    height: auto;
	overflow: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

.mobile-bolsa-promo {
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(216, 216, 216, 0.2);
	color: #32e1fe;
	margin-top: 30px;
}